/* Classify page fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1 {
  font-family: 'Open Sans';
  font-size: 48px;
  font-weight:800;
}

body {
  font-family: 'Open Sans';
  margin: 0px;
  padding: 0px;
  background-color:#C0C0C0
}

p {
    font-family: 'Open Sans';
  }

.paragraph {
  margin: 0px;
  padding: 2px;
}
.section {
  font-family: 'Open Sans'; 
  padding: 0 2rem;
}
.gfg {
  margin: 0%;
  position: relative;
}
 
/*This CSS code is defining the styles for a container that holds text*/
.text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 2rem;
  bottom: 0rem;
  padding: 0 0;
  margin: 0 0;
  }

.yosemite_cropped {
    width: 100%; /* width of container */
    height: 800px; /* height of container */
    object-fit: cover;
    object-position: 50% 55%; /* try 20px 10px */
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color:#FFFFFF;
}

div.gallery:hover {
  border: 1px solid #C0C0C0;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Style the content */
.content {
  padding-left: 200px;
  background-color: #C0C0C0;
}

