/* Classify page fonts */

p {
    font-family: Helvetica, sans-serif;
  }


yosemite_cropped {
    width: 100%; /* width of container */
    height: 1200px; /* height of container */
    object-fit: cover;
    object-position: 50% 55%; /* try 20px 10px */
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  background-color:#D3D3D3;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Style the content */
.content {
  padding-left: 220px;
  background-color: #D3D3D3;
<<<<<<< HEAD
}
=======
}
>>>>>>> 202d5b05d60f234202c1e9e192c49230cee5f351
